p{
font-size:12px;
color:rgba(221, 84, 91, 0.705)
color:rgba(7, 121, 47, 0.753)


}

body{ 

font-family:fantasy;
background-color:blueviolet


}
ol{

color:rgba(16, 204, 25, 0.753)

}
h2{
display: inline;

background-color:goldenrod

}

hr{
color:palevioletred;


}